body{
    background-image: url("dance.gif");
    background-color: rgb(91, 81, 156);
}

h1{
    color:rgb(177, 140, 72)
}

h2{
    color:rgb(10, 137, 39)
}

h3{
    color:brown
}

p{
    color:rgb(194, 56, 244)
}